<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>UMBIM - GPDHL</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
      <div class="container d-flex align-items-center justify-content-lg-between">
    
        @*<h1 class="logo me-auto me-lg-0"><a href="index.html">Gp<span>.</span></a></h1>*@
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="#hero" class="logo me-auto me-lg-0"><img src="assets/img/dhl-logo.png" alt="" class="img-fluid" @*height="10"*@ width="200"></a>
    
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#features">Suport</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto " href="#counts">Counts</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li class="dropdown"><a href="#"><span>Rastreie</span> <i class="bi bi-chevron-down"></i></a>
             <ul>
                <div>
                    <form class="px-4 py-3">
                      <div class="mb-3">
                        <label for="exampleDropdownFormEmail1" class="form-label">Digite</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                      </div>
                      <div class="mb-3">
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="dropdownCheck">
                          <label class="form-check-label" for="dropdownCheck">
                            Remember me
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">New around here? Sign up</a>
                    <a class="dropdown-item" href="#">Forgot password?</a>
                </div>
             </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Enviar</span> <i class="bi bi-chevron-down"></i></a>
             <ul>
               <li><a href="#">Enviar agora</a></li>
               <li><a href="#">Obter uma cotação</a></li>
               <li><a href="#">DHL for Business</a></li>
             </ul>
           </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    
        <a href="#about" class="get-started-btn scrollto">Get Started</a>
    
      </div>
    </header><!-- End Header -->
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    
    <footer id="footer">
       <div class="footer-top">
         <div class="container">
           <div class="row">
       
             <div class="col-lg-2 col-md-4">
               <div class="footer-info">
                 <h3>DHL Express<span>.</span></h3>
                 <p>
                   1210 South Pine Island Road
                   Fourth Floor
                   Plantation, FL 33324
                   USA<br><br>
                   <strong>Phone:</strong> 1-800-225-5345<br>
                 </p>
                 <div class="social-links mt-3">
                   <a href="https://www.youtube.com/channel/UCfsBLXEWNtr26TM2LLpKbGQ" target="_blank" class="YouTube"><i class="bx bxl-youtube"></i></a>
                   <a href="https://web.facebook.com/dhl/?_rdc=1&_rdr" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
                   <a href="https://www.linkedin.com/company/dhl/?originalSubdomain=br" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                   <a href="https://www.instagram.com/dhl_global/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
                 </div>
               </div>
             </div>
       
             <div class="col-lg-2 col-md-6 footer-links">
               <h4>Help Center</h4>
               <ul>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Customer Service</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Customer Portal Logins</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Digital Partners and Integrations</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Developer Portal</a></li>
               </ul>
             </div>
       
             <div class="col-lg-3 col-md-6 footer-links">
               <h4>Our Divisions</h4>
               <ul>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Post and Paket Deutschland</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">DHL Express</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">DHL Global Forwarding</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">DHL Freight</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">DHL Supply Chain</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">DHL eCommerce Solutions</a></li>
               </ul>
             </div>
       
             <div class="col-lg-2 col-md-6 footer-links">
               <h4>Industry Sectors</h4>
               <ul>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Auto-Mobility</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Chemicals</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Consumer</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Energy</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Engineering and Manufacturing</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Life Sciences and Healthcare</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Public Sector</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Retail</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Technology</a></li>
                 
               </ul>
             </div>
       
             <div class="col-lg-3 col-md-6 footer-links">
               <h4>Company Information</h4>
               <ul>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">About DHL</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Delivered</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Careers</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Press Center</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Sustainability</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Insights and Innovation</a></li>
                 <li><i class="bx bx-chevron-right"></i> <a href="#">Official Logistics Partners</a></li>
               </ul>
             </div>
             
       
           </div>
         </div>
       </div>
       
       <div class="container">
         <div class="copyright">
           &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
         </div>
         <div class="credits">
           <!-- All the links in the footer should remain intact. -->
           <!-- You can delete the links only if you purchased the pro version. -->
           <!-- Licensing information: https://bootstrapmade.com/license/ -->
           <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
           Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
         </div>
       </div>
    </footer><!-- End Footer -->
    
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
